$c-dark: #000;
$c-light: #fff;
$c-sunset: #ec887a;
$c-blue: #415c98;

$sans-serif: Raleway, Helvetica, Arial, sans-serif;

$header-height: 8rem;
$header-margin-h: 2rem;
$header-margin-v: 1rem;
$header-font: 1.25rem $sans-serif;

$text-overlay-shadow: 0 0 0.3em $c-dark;
