@import 'settings';

// Placeholders
// ------------
%reset-ul {
  margin: 0;
  padding: 0;
}

%reset-li {
  display: block;
}


// Body
// ----
body {
  margin: 0;
  font-family: $sans-serif;
}


// Header
// ------
header {
  background: darken($c-sunset, 10%);
  color: $c-light;
  font: $header-font;
  line-height: $header-height;

  h1 {
    margin: 0;
    float: left;
    font-size: inherit;

    > a {
      display: block;
      padding: 0 $header-margin-v;
    }

    img {
      height: $header-height - $header-margin-v * 2;
      vertical-align: middle;
    }
  }

  ul {
    @extend %reset-ul;

    clear: both;
    background: $c-sunset;
    line-height: 2em;
    text-shadow: $text-overlay-shadow;
  }

  li {
    @extend %reset-li;

    > a {
      display: block;
      padding: 0 1.5rem;
    }
  }

  :link,
  :visited {
    background: rgba($c-light, 0);
    color: inherit;
    text-decoration: inherit;

    &:hover,
    &:focus {
      background: rgba($c-light, 0.25);
    }
  }
}


// Homepage
// --------
.home-heroimage {
  background: url('../images/home-hero.jpg') no-repeat center $c-sunset;
  background-size: cover;
  color: $c-light;
  text-align: center;

  h1 {
    margin: 0;

    > span {
      display: block;
      text-shadow: $text-overlay-shadow;

      &:first-child {
        font-size: 1rem;
        font-weight: 300;
      }

      &:last-child {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
