<header>
    <h1>
        <a href="{{ paths.rooturl }}">
            <img src="{{ paths.theme }}images/logo.svg" alt="{{ app.config.get('general/sitename') }}">
        </a>
    </h1>

    <nav>
        {{ menu(template = 'partials/_sub_menu.twig') }}
    </nav>
</header>
